image:
  repository: ghcr.io/fajlur79/shortlink
  pullPolicy: Always
  tag: "latest"

config:
  baseUrl: "http://shortlink.local"
  redisUrl: "redis://shortlink-redis-master:6379"

reader:
  enabled: true
  replicaCount: 2
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits: 
      cpu: "200m"
      memory: "256Mi"

writer:
  enabled: true
  replicaCount: 1
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "200m"
      memory: "256Mi"

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
  
  image: 
    registry: public.ecr.aws
    repository: bitnami/redis

ingress:
  enabled: true
  className: "alb"
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  hosts:
    - host: shortlink.local
      paths:
        - path: /
          pathType: Prefix